.coldbase_navbar{
    width: 100%;
    background: rgba(15, 22, 34, 0.4);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coldbase_navbar_logo{
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 18px;
    width: 100px;
    height: 100px;
}

.coldbase_navbar_leave:hover{ background: #74a3e4; }
.coldbase_navbar_leave:active{ background: #74a3e4; }
.coldbase_navbar_leave{
    margin-right: 50px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    transform: scale(2, 1.6);
    transition: 0.2s;
    padding: 4px 6.5px 4px 6.5px;
    border-radius: 50%;
}

.coldbase_navbar_key{ color: white; text-align: center; }
.coldbase_navbar_key label{ 
    margin-left: 6px;
    font-size: small;
    font-weight: 600;
}

@media (max-width: 600px) {
    .coldbase_navbar_key{ display: none; }
}