.coldbase_navbar{
    width: 100%;
    background: rgba(15, 22, 34, 0.4);
    display: flex;
    align-items: center;
}

.coldbase_navbar_logo{
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 18px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.coldbase_navbar_key{ color: white; }
.coldbase_navbar_key label{ 
    margin-left: 6px;
    font-size: small;
    font-weight: 600;
}

@media (max-width: 600px) {
    .coldbase_navbar{ justify-content: center; }
    .coldbase_navbar_key{ display: none; }
}